body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #909090 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.blue-grey {
    background-color: #4c768c !important;
}

.navy-blue {
    background-color: #2a344d !important;
}

.blue-white {
    background-color: #caebf2 !important;
}

.light-blue {
    background-color: #8ec7d8 !important;
}

.grey {
    background-color: #7c98b0 !important;
}

.light-grey {
    background-color: #e5e5e5 !important;
}

.blue-grey-text {
    color: #4c768c !important;
}

.navy-blue-text {
    color: #2a344d !important;
}

.blue-white-text {
    color: #caebf2 !important;
}

.light-blue-text {
    color: #8ec7d8 !important;
}

.grey-text {
    color: #7c98b0 !important;
}

.light-grey-text {
    color: #e5e5e5 !important;
}

.white-text {
    color: #ffffff !important;
}

.dark-grey-text {
    color: #909090 !important;
}

.navbar-inverse .navbar-brand {
    color: inherit !important;
    border-color: #2a344d !important;
}

.navbar-inverse{
    color: inherit !important;
    border-color: #2a344d !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: inherit;
}
