@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Landlords</title>
</head>
<body>
    <div>
    <p>Landlords will be displayed here</p>
    </div>
</body>
</html>
