@{
    ViewBag.Title = "About";
}
<h2>About</h2>
<h3>A little bit about us and the site.</h3>
<p>Rate My Landlord exists to provide potential tenants information about a property and landlord BEFORE they sign the lease.</p>

<p>Rate My Landlord was developed by 3 students at the University of Cincinnati as their Senior Design project</p>
