@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive img-rounded" src="~/Content/Images/logo.png" alt="" width="100%">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-7">
            <h1>Rate My Landlord</h1>
            <p class="lead">Find the landlord and property that are right for you</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

@*<div class="jumbotron light-grey">*@
    @*<h1>Rate My Landlord</h1>*@
    @*<p class="lead">The search is on.</p>*@
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
@*</div>*@
    <br/>
    @*<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />*@

    <div class="row">
        <div class="col-md-4">
            <h2>Browse Landlords</h2>
            <p>Find a landlord that's right for you</p>
            <p><a class="btn btn-default blue-grey white-text" href="/Landlord/Index">Landlords &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Rate Properties</h2>
            <p>Find a place that fits your style and budget</p>
            <p><a class="btn btn-default blue-grey white-text" href="/Property/Index">Properties &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Rate Landlords</h2>
            <p>Leave feedback about your experience</p>
            <p><a class="btn btn-default blue-grey white-text" href="/Rate/Index">Rate a landlord &raquo;</a></p>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
