@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rate My Landlord</h1>
    <p class="lead">The search is on.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="/Landlords/Index">Landlords &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="/Property/Index">Properties &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="/Rate/Index">Rate a landlord &raquo;</a></p>
    </div>
</div>